<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous" 
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />
</head>

{% block content %}

    <div class="container">
        <h1>Welcome... Please provide the inputs </h1>
        <br>
        <form method="POST" action="/result/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="server">Server</label>
                        <input type="text" required name="server" id="">
                    </div>
                </div>
            <br>

                <div class="row">
                    <div class="col-md-4">
                        <label for="database">Database</label>
                        <input type="text" required name="database" id="">
                    </div>
                </div>
            <br>


                <div class="row">
                    <div class="col-md-4">
                        <label for="username">Username</label>
                        <input type="text" required name="username" id="">
                    </div>
                </div>
            <br>
                <div class="row">
                    <div class="col-md-4">
                        <label for="password">Password</label>
                        <input type="password" required name="password" id="">      
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                    
                        <input type="file" required name="myfile" id="">
                    </div>
                </div>
            <br>
            <input type="submit" name="submit" class="btn btn-primary">

            </div>
        

    </form>
    </div>
    
{% endblock content %}


<!-- <body>
    <form method="POST" action="/result/" enctype="multipart/form-data">
        {% csrf_token%}
        File : <input type="file" required name="myfile" id="">
        Username : <input type="text" required name="username" id="">
        Password : <input type="password" required name="password" id="">
        <input type="submit" required name="submit" id="">

    </form>
</body> -->



</html>